:root {
    --accent-color: #FFD700;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), #121212), url('images/Gemini_Generated_Image_4waqcq4waqcq4waq.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid var(--accent-color);
}

h1 {
    margin: 0;
    font-family: "Exo", sans-serif;
}

main {
    padding: 1rem;
}

#menu {
    margin-bottom: 2rem;
}

.menu-category {
    margin-bottom: 1.5rem;
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* transition: all 0.2s ease-in-out; */
}

/* .menu-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} */

#disclaimer-content {
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.menu-category h3 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    color: var(--accent-color);
}

.item-price {
    color: var(--accent-color);
}

.menu-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.item-name {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.item-description {
    font-size: 0.8rem;
    font-style: italic;
}

.mixes-category ul {
    grid-template-columns: 1fr;
}

#contact {
    text-align: center;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

#toggle-disclaimer {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

#disclaimer-content.hidden {
    display: none;
}

.social-media a {
    margin: 0 0.5rem;
}

.social-icon path {
    fill: white;
    transition: fill 0.2s ease-in-out;
}

.social-media a:hover .social-icon path {
    fill: var(--accent-color);
}


/* Desktop Styles */
@media (min-width: 768px) {
    main {
        max-width: 800px;
        margin: 0 auto;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}