body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), #121212), url('images/Gemini_Generated_Image_4waqcq4waqcq4waq.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: "Exo", sans-serif;
}

main {
    padding: 1rem;
}

#menu {
    margin-bottom: 2rem;
}

.menu-category {
    margin-bottom: 1.5rem;
}

.menu-category h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.menu-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.item-name {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.item-description {
    font-size: 0.8rem;
    font-style: italic;
}

.mixes-category ul {
    grid-template-columns: 1fr;
}

#contact {
    text-align: center;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

#toggle-footer {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

#footer-carousel.hidden {
    display: none;
}


/* Desktop Styles */
@media (min-width: 768px) {
    main {
        max-width: 800px;
        margin: 0 auto;
    }

    #menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}